# Introducci칩n a Pandas en Python 游냪游늶游늵

[![Python](https://img.shields.io/badge/Python-yellow?style=for-the-badge&logo=python&logoColor=white&labelColor=101010)]()

### 쯈u칠 es Pandas?

Pandas es una librer칤a de Python dise침ada para facilitar la manipulaci칩n y el anal칤sis de datos. Sus estructuras nos recuerdan a las de una hoja de c치lculo con las cuales podremos realizar m칰ltiples operaciones como el filtrado de datos, operaciones, o b칰squeda de patrones que nos permitir치n trabajar con los datos de forma m치s r치pida, eficiente en tiempo/recursos y sencilla.

In [322]:
#--- Importaci칩n de librer칤as ---#
import pandas as pd #<--- Asignaci칩n de un alias para llamar a la librer칤a en el c칩digo m치s f치cilmente
import numpy as np #<--- Asignaci칩n de un alias para llamar a la librer칤a en el c칩digo m치s f치cilmente

# Tipos de datos en Pandas 游늳

## Pandas Series 游늶 

Una Serie es una secuencia de datos que puede contener cualquier tipo de valor, como n칰meros, texto, booleanos, entre otros. Cada elemento en una Serie tiene un 칤ndice, que es como una etiqueta que puedes usar para encontrar ese dato espec칤fico. Recuerda mucho a las listas de Python pero con m치s funciones y optimizada para trabajar con datos m치s eficientemente, as칤 como estar dise침ada para poder interactuar m치s directamente con las dem치s estructuras de datos de Pandas.

In [323]:
# <--- Un Pandas Series es un array unidimensional que puede contener cualquier tipo de datos

# --- Creaci칩n de un Pandas Series a partir de una lista ---#
# <--- En este caso se crea un Pandas Series con una lista de letras
fruta = pd.Series(["manzana", "banana", "cereza", "d치til", "uva"]) # <--- Creaci칩n de un Pandas Series
print(fruta) # <--- Imprime el Pandas Series

0    manzana
1     banana
2     cereza
3      d치til
4        uva
dtype: object

In [324]:

# --- Creaci칩n de un Pandas Series a partir de un diccionario ---#
# <--- En este caso se crea un Pandas Series con un diccionario
fruta_dic = pd.Series({"a": "manzana", "b": "banana", "c": "cereza", "d": "d치til", "e": "uva"}) # <--- Creaci칩n de un Pandas Series
print(fruta_dic) # <--- Imprime el Pandas Series

a    manzana
b     banana
c     cereza
d      d치til
e        uva
dtype: object

In [325]:
# Llamar a un elemento del Pandas Series a trav칠s de su 칤ndice
print("Llamada a trav칠s de 칤ndice, caso m치s com칰n: " + fruta.iloc[0]) # <--- Imprime el valor asociado al 칤ndice 0 del Pandas Series creado a partir
                                                                      # de una lista


print("\n\nLlamada a trav칠s de 칤ndice, caso particular: " + fruta_dic["a"]) # <--- Imprime el valor asociado al 칤ndice "a" del Pandas Series
                                                                            # creado a partir de un diccionario

Llamada a trav칠s de 칤ndice, caso m치s com칰n: manzana


Llamada a trav칠s de 칤ndice, caso particular: manzana

In [326]:
#--- Atributo size ---#
print(fruta.size) # <--- Imprime el n칰mero de elementos del Pandas Series

5

In [327]:
#--- Atributo index ---#
print("Indice caso com칰n: ", fruta.index) # <--- Imprime los 칤ndices del Pandas Series


print("\n\nIndice caso particular:", fruta_dic.index) # <--- Imprime los 칤ndices del Pandas Series

Indice caso com칰n:  RangeIndex(start=0, stop=5, step=1)


Indice caso particular: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [328]:
#--- Atributo dtype ---#
print("Tipos de datos en fruta: ", fruta.dtype) # <--- Imprime el tipo de datos del Pandas Series

Tipos de datos en fruta:  object

In [329]:
# Creaci칩n de un Pandas Series con solo datos num칠ricos	
numeros = pd.Series([1, 2, 3, 4, 5]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

# Imprimir su tipo de datos
print("Tipos de datos en numeros: ", numeros.dtype) # <--- Imprime el tipo de datos del Pandas Series

Tipos de datos en numeros:  int64

In [330]:
fruta = pd.Series(["manzana", "banana", "cereza", "d치til", "uva"]) # <--- Creaci칩n de un Pandas Series

# Selecci칩n de elementos de un Pandas Series
print(fruta.iloc[0], "\n\n") # <--- Imprime el valor asociado al 칤ndice 0 del Pandas Series

print(fruta.iloc[0:3]) # <--- Imprime los valores asociados a los 칤ndices 0, 1 y 2 del Pandas Series como un rango
# NOTESE QUE EL 칔LTIMO 칈NDICE NO SE INCLUYE

manzana


0    manzana
1     banana
2     cereza
dtype: object

### Operaciones con Series 游늶

In [331]:
# Operaciones de un Pandas Series con escalares
numeros = pd.Series([1, 2, 3, 4, 5]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

# Serie original
print("Serie original: ")
print(numeros)
# Multiplicar todos los elementos del Pandas Series por 2
print("\n\nMultiplicaci칩n por 2:")
print(numeros * 2) # <--- Multiplica todos los elementos del Pandas Series por 2

# Sumar 10 a todos los elementos del Pandas Series
print("\n\nSuma 10:")
print(numeros + 10) # <--- Suma 10 a todos los elementos del Pandas Series

Serie original:
0    1
1    2
2    3
3    4
4    5
dtype: int64


Multiplicaci칩n por 2:
0     2
1     4
2     6
3     8
4    10
dtype: int64


Suma 10:
0    11
1    12
2    13
3    14
4    15
dtype: int64

### Funciones con Series 游늶

In [332]:
# Definir un Pandas Series de numeros
numeros = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

In [333]:
# Suma manual de los elementos del Pandas Series
suma = 0
for i in numeros:
    suma += i
print("Suma manual: ", suma) # <--- Imprime la sumatoria de todos los elementos del Pandas Series

# Funcion Sumatoria
print("Sumatoria: ", numeros.sum()) # <--- Imprime la sumatoria de todos los elementos del Pandas Series

Suma manual:  45
Sumatoria:  45

In [334]:
# Maximo y minimo
print("Maximo: ", numeros.max()) # <--- Imprime el valor m치ximo del Pandas Series
print("\n\nMinimo: ", numeros.min()) # <--- Imprime el valor m칤nimo del Pandas Series

Maximo:  9


Minimo:  1

In [335]:
# Funcion describe
print(numeros.describe()) # <--- Imprime un resumen de los estad칤sticos b치sicos del Pandas Series

"""
Donde:
- count: n칰mero de elementos
- mean: media
- std: desviaci칩n est치ndar
- min: valor m칤nimo
- 25%: primer cuartil
- 50%: mediana
- 75%: tercer cuartil
- max: valor m치ximo
"""

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

'\nDonde:\n- count: n칰mero de elementos\n- mean: media\n- std: desviaci칩n est치ndar\n- min: valor m칤nimo\n- 25%: primer cuartil\n- 50%: mediana\n- 75%: tercer cuartil\n- max: valor m치ximo\n'

### Filtrado de datos en una Serie 游늶

In [336]:
# Definimos una serie con 5 materias y su calificaci칩n 
serie = pd.Series({"Matem치ticas": 10, "F칤sica": 5, "Qu칤mica": 8, "Historia": 3, "Programaci칩n": 10})

# Imprimimos la serie
print("Materias y calificaciones:")
print(serie)

# Imprimimos solo las materias con calificaci칩n mayor a 5
print("\n\nMaterias aprobadas:")

aprobadas = serie[serie >= 6]
print(aprobadas)

Materias y calificaciones:
Matem치ticas     10
F칤sica           5
Qu칤mica          8
Historia         3
Programaci칩n    10
dtype: int64


Materias aprobadas:
Matem치ticas     10
Qu칤mica          8
Programaci칩n    10
dtype: int64

In [337]:
# Ordenar de forma ascendente
print("Orden ascendente:")
print(serie.sort_values())

# Ordenar de forma descendente
print("\n\nOrden descendente:")
print(serie.sort_values(ascending=False))

# Ordenar por 칤ndice
print("\n\nOrden por 칤ndice:")
print(serie.sort_index())

Orden ascendente:
Historia         3
F칤sica           5
Qu칤mica          8
Matem치ticas     10
Programaci칩n    10
dtype: int64


Orden descendente:
Matem치ticas     10
Programaci칩n    10
Qu칤mica          8
F칤sica           5
Historia         3
dtype: int64


Orden por 칤ndice:
F칤sica           5
Historia         3
Matem치ticas     10
Programaci칩n    10
Qu칤mica          8
dtype: int64

### Otras formas de crear Series 游늶

In [338]:
# Creaci칩n de un Pandas Series con un solo valor y un 칤ndice personalizado
data = 5 # <--- Asignaci칩n de un valor a una variable

serie = pd.Series(data, index=[0,1,2,3,4,5]) # <--- Creaci칩n de un Pandas Series con un solo valor y un 칤ndice personalizado
print(serie) # <--- Imprime el Pandas Series

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [339]:
# Creaci칩n de un Pandas Series con una lista de valores y un 칤ndice personalizado
data_list = ["manzana", "banana", "cereza", "d치til", "uva"] # <--- Asignaci칩n de una lista de valores a una variable
indices = [0,1,2,3,4] # <--- Asignaci칩n de un rango de 칤ndices a una variable

serie = pd.Series(data=data_list, index=indices) # <--- Creaci칩n de un Pandas Series con una lista de valores y un 칤ndice personalizado
print(serie) # <--- Imprime el Pandas Series

0    manzana
1     banana
2     cereza
3      d치til
4        uva
dtype: object

## Pandas Dataframe 游늵

Los dataframes en Pandas son como tablas en las que puedes organizar y manipular datos de manera eficiente. Imagina una hoja de c치lculo o una tabla en una base de datos. Se utilizan para limpiar, explorar, modelar y visualizar datos. Son esenciales para trabajar con grandes conjuntos de datos. Otra forma de ver un dataframe es como una uni칩n de varias Series.

El Dataframe toma en cuenta dos dimensiones las cuales son las columnas y las filas.

### Creaci칩n de un Dataframe 游늵

In [340]:
# Partes de un Pandas DataFrame

# Columns = Columnas
# Index = 칈ndices
# Data = Datos

# Creaci칩n de un Pandas DataFrame a partir de un diccionario
data = {"Nombre": ["Juan", "Ana", "Luis", "Mar칤a", "Pedro"],
        "Edad": [25, 30, 35, 40, 45]} # <--- Creaci칩n de un diccionario

df = pd.DataFrame(data) # <--- Creaci칩n de un Pandas DataFrame


print(df) # <--- Imprime el Pandas DataFrame

  Nombre  Edad
0   Juan    25
1    Ana    30
2   Luis    35
3  Mar칤a    40
4  Pedro    45

In [341]:
# Creaci칩n de un Pandas DataFrame a partir de una lista de listas
data = [["Juan", 25],
        ["Ana", 30],
        ["Luis", 35],
        ["Mar칤a", 40],
        ["Pedro", 45]] # <--- Creaci칩n de una lista de listas

df = pd.DataFrame(data, columns=["Nombre", "Edad"]) # <--- Creaci칩n de un Pandas DataFrame

print(df) # <--- Imprime el Pandas DataFrame

  Nombre  Edad
0   Juan    25
1    Ana    30
2   Luis    35
3  Mar칤a    40
4  Pedro    45

In [342]:
# Creaci칩n de un Pandas DataFrame a partir de un numpy array
data = np.array([["Juan", 25],
                 ["Ana", 30],
                 ["Luis", 35],
                 ["Mar칤a", 40],
                 ["Pedro", 45]]) # <--- Creaci칩n de un numpy array


df = pd.DataFrame(data, columns=["Nombre", "Edad"]) # <--- Creaci칩n de un Pandas DataFrame

print(df) # <--- Imprime el Pandas DataFrame

# Dataframe con valores aleatorios de numpy
data = np.random.randn(5, 4) # <--- Creaci칩n de un numpy array con valores aleatorios de dimensiones 5x4
df = pd.DataFrame(data, columns=["A", "B", "C", "D"]) # <--- Creaci칩n de un Pandas DataFrame

print("\n\nDataframe con valores aleatorios de numpy:")
print(df) # <--- Imprime el Pandas DataFrame

  Nombre Edad
0   Juan   25
1    Ana   30
2   Luis   35
3  Mar칤a   40
4  Pedro   45


Dataframe con valores aleatorios de numpy:
          A         B         C         D
0 -0.092100 -1.105982 -1.796502 -1.511359
1 -1.037760  0.210116  0.016141  0.758675
2 -0.033059 -0.256746 -2.304379  0.425429
3 -2.155471 -0.350610  0.641797 -1.045746
4  0.357197 -0.390940  0.140053  2.333060

### Extracci칩n de Informaci칩n de Excel / CSV (Datasets) 游늵

Dataset: Un dataset es una colecci칩n organizada de datos que puede venir en varios formatos, como archivos de texto, hojas de c치lculo, bases de datos, etc. Un dataframe, en cambio, es una estructura de datos espec칤fica utilizada en lenguajes de programaci칩n como R y Python (con pandas), que organiza los datos en una tabla con filas y columnas, facilitando su manipulaci칩n y an치lisis.

In [343]:
# Leer un archivo CSV
df = pd.read_csv("dataset.csv") # <--- Lectura de un archivo CSV

df # <--- Imprime el Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

In [344]:
# Leer un archivo Excel
df = pd.read_excel("dataset.xlsx") # <--- Lectura de un archivo Excel

df # <--- Imprime el Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

### Funciones y Atributos b치sicos de un DataFrame 游늵

In [345]:
# df.info() # <--- Imprime un resumen de la informaci칩n del Pandas DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   object
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   int64
 3   YELLOW_FINGERS         3000 non-null   int64
 4   ANXIETY                3000 non-null   int64
 5   PEER_PRESSURE          3000 non-null   int64
 6   CHRONIC_DISEASE        3000 non-null   int64
 7   FATIGUE                3000 non-null   int64
 8   ALLERGY                3000 non-null   int64
 9   WHEEZING               3000 non-null   int64
 10  ALCOHOL_CONSUMING      3000 non-null   int64
 11  COUGHING               3000 non-null   int64
 12  SHORTNESS_OF_BREATH    3000 non-null   int64
 13  SWALLOWING_DIFFICULTY  3000 non-null   int64
 14  CHEST_PAIN             3000 non-null   int64
 15  LUNG_CANCER            3000 non-null   object
dtypes: int64(14), object(2)
memory usage: 375.1+ KB
None

In [346]:
# df.shape # <--- Imprime las dimensiones del Pandas DataFrame
print("df.shape: ", df.shape)

# df.size # <--- Imprime el n칰mero de elementos del Pandas DataFrame
print("df.size: ", df.size)

# df.columns # <--- Imprime las columnas del Pandas DataFrame
print("df.columns: ", df.columns, "\n")

# df.index # <--- Imprime los 칤ndices del Pandas DataFrame
print("df.index: ", df.index, "\n")

# df.dtypes # <--- Imprime los tipos de datos del Pandas DataFrame
# print("df.dtypes: ", df.dtypes, "\n")

df.shape:  (3000, 16)
df.size:  48000
df.columns:  Index(['GENDER', 'AGE', 'SMOKING', 'YELLOW_FINGERS', 'ANXIETY',
       'PEER_PRESSURE', 'CHRONIC_DISEASE', 'FATIGUE', 'ALLERGY', 'WHEEZING',
       'ALCOHOL_CONSUMING', 'COUGHING', 'SHORTNESS_OF_BREATH',
       'SWALLOWING_DIFFICULTY', 'CHEST_PAIN', 'LUNG_CANCER'],
      dtype='object')

df.index:  RangeIndex(start=0, stop=3000, step=1)

In [347]:
# Impresi칩n de las primeras filas del Pandas DataFrame
n = 3 # <--- N칰mero de filas a imprimir

df.head(n) # <--- Imprime las primeras n filas del Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES

In [348]:
# Impresi칩n de las 칰ltimas filas del Pandas DataFrame
n = 3 # <--- N칰mero de filas a imprimir

df.tail(n) # <--- Imprime las 칰ltimas n filas del Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

### Filtrando con Dataframes 游늵

In [349]:
# Simplificaremos el dataframe para que sean m치s simples los ejercicios tomando solo
# las primeras 10 filas y las primeras 5 columnas

df = df.iloc[:10, :5]
df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
0      M   65        1               1        1
1      F   55        1               2        2
2      F   78        2               2        1
3      M   60        2               1        1
4      F   80        1               1        2
5      F   58        1               1        1
6      F   70        1               1        1
7      F   74        2               2        1
8      M   77        1               2        1
9      F   67        2               2        2

In [350]:
# consultar un dato en un dataframe mediante el uso de coordenadas
fila = 2
columna = 1

print(df.iloc[fila, columna]) # <--- df.iloc[2, 1]

78

In [351]:
# Consultar un conjunto de columnas en un dataframe
columnas = [0, 2, 4]
fila = 3

print(df.iloc[fila, columnas]) # <--- df.iloc[3, [0, 2, 4]]

GENDER     M
SMOKING    2
ANXIETY    1
Name: 3, dtype: object

In [352]:
# Buscar un valor espec칤fico en un Pandas DataFrame por fila y nombre de columna
print(df.loc[2, "AGE"]) # <--- Imprime el valor en la fila 2 y columna AGE del Pandas DataFrame

78

In [353]:
# Consultar un conjunto de columnas en un dataframe por fila y nombres de columnas
fila = (3,)
columnas = ('AGE', 'SMOKING')

print(df.loc[fila, columnas]) # <--- df.loc[3, ('AGE', 'SMOKING')]

   AGE  SMOKING
3   60        2

In [354]:
# Condiciones en un Pandas DataFrame
filtro = df["AGE"] < 60 # <--- Condiciones en un Pandas DataFrame

filtro

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: AGE, dtype: bool

In [355]:
# Buscar aquellos valores que cumplan con una condici칩n espec칤fica, en este ejemplo se buscan aquellos valores en la columna AGE que sean menores a 40
df[filtro] # <--- Imprime los valores en la columna AGE que sean mayores a 40 del Pandas DataFrame

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
1      F   55        1               2        2
5      F   58        1               1        1

In [356]:
# A침adir una nueva columna a un Pandas DataFrame

df["NEW_COLUMN"] = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9]) # <--- A침adir una nueva columna a un Pandas DataFrame

df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY  NEW_COLUMN
0      M   65        1               1        1         1.0
1      F   55        1               2        2         2.0
2      F   78        2               2        1         3.0
3      M   60        2               1        1         4.0
4      F   80        1               1        2         5.0
5      F   58        1               1        1         6.0
6      F   70        1               1        1         7.0
7      F   74        2               2        1         8.0
8      M   77        1               2        1         9.0
9      F   67        2               2        2         NaN

In [357]:
# Eliminar una columna de un Pandas DataFrame
columna_eliminada = df.pop("NEW_COLUMN") # <--- Eliminar una columna de un Pandas DataFrame

df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
0      M   65        1               1        1
1      F   55        1               2        2
2      F   78        2               2        1
3      M   60        2               1        1
4      F   80        1               1        2
5      F   58        1               1        1
6      F   70        1               1        1
7      F   74        2               2        1
8      M   77        1               2        1
9      F   67        2               2        2

In [358]:
# A침adir una nueva fila a un Pandas DataFrame con concat
nueva_fila = pd.DataFrame({"GENDER": "M", "AGE": 22, "SMOKING": 2, "YELLOW_FINGERS": 1, "ANXIETY": 1}, index=[10]) # <--- Creaci칩n de un Pandas DataFrame con una nueva fila

df = pd.concat([df, nueva_fila]) # <--- A침adir una nueva fila a un Pandas DataFrame

df

   GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
0       M   65        1               1        1
1       F   55        1               2        2
2       F   78        2               2        1
3       M   60        2               1        1
4       F   80        1               1        2
5       F   58        1               1        1
6       F   70        1               1        1
7       F   74        2               2        1
8       M   77        1               2        1
9       F   67        2               2        2
10      M   22        2               1        1

In [359]:
# Eliminar una fila de un Pandas DataFrame
df = df.drop(10) # <--- Eliminar una fila de un Pandas DataFrame

df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
0      M   65        1               1        1
1      F   55        1               2        2
2      F   78        2               2        1
3      M   60        2               1        1
4      F   80        1               1        2
5      F   58        1               1        1
6      F   70        1               1        1
7      F   74        2               2        1
8      M   77        1               2        1
9      F   67        2               2        2

In [360]:
# Eliminar varias filas de un Pandas DataFrame
df = df.drop([0, 1, 2]) # <--- Eliminar varias filas de un Pandas DataFrame

df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
3      M   60        2               1        1
4      F   80        1               1        2
5      F   58        1               1        1
6      F   70        1               1        1
7      F   74        2               2        1
8      M   77        1               2        1
9      F   67        2               2        2

In [362]:
# Ordenar elementos de un Pandas DataFrame basados en la informaci칩n de una columna
df = df.sort_values(by="AGE") # <--- Ordenar elementos de un Pandas DataFrame basados en la informaci칩n de la columna AGE

df

  GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY
5      F   58        1               1        1
3      M   60        2               1        1
9      F   67        2               2        2
6      F   70        1               1        1
7      F   74        2               2        1
8      M   77        1               2        1
4      F   80        1               1        2