# Introducci칩n a Pandas en Python 游냪游늶游늵

[![Python](https://img.shields.io/badge/Python-yellow?style=for-the-badge&logo=python&logoColor=white&labelColor=101010)]()

### 쯈u칠 es Pandas?

Pandas es una librer칤a de Python dise침ada para facilitar la manipulaci칩n y el anal칤sis de datos. Sus estructuras nos recuerdan a las de una hoja de c치lculo con las cuales podremos realizar m칰ltiples operaciones como el filtrado de datos, operaciones, o b칰squeda de patrones que nos permitir치n trabajar con los datos de forma m치s r치pida, eficiente en tiempo/recursos y sencilla.

In [108]:
#--- Importaci칩n de librer칤as ---#
import pandas as pd #<--- Asignaci칩n de un alias para llamar a la librer칤a en el c칩digo m치s f치cilmente
import numpy as np #<--- Asignaci칩n de un alias para llamar a la librer칤a en el c칩digo m치s f치cilmente

# Tipos de datos en Pandas 游늳

## Pandas Series 游늶 

Una Serie es una secuencia de datos que puede contener cualquier tipo de valor, como n칰meros, texto, booleanos, entre otros. Cada elemento en una Serie tiene un 칤ndice, que es como una etiqueta que puedes usar para encontrar ese dato espec칤fico. Recuerda mucho a las listas de Python pero con m치s funciones y optimizada para trabajar con datos m치s eficientemente, as칤 como estar dise침ada para poder interactuar m치s directamente con las dem치s estructuras de datos de Pandas.

In [109]:
# <--- Un Pandas Series es un array unidimensional que puede contener cualquier tipo de datos

# --- Creaci칩n de un Pandas Series a partir de una lista ---#
# <--- En este caso se crea un Pandas Series con una lista de letras
fruta = pd.Series(["manzana", "banana", "cereza", "d치til", "uva"]) # <--- Creaci칩n de un Pandas Series
print(fruta) # <--- Imprime el Pandas Series

0    manzana
1     banana
2     cereza
3      d치til
4        uva
dtype: object

In [110]:

# --- Creaci칩n de un Pandas Series a partir de un diccionario ---#
# <--- En este caso se crea un Pandas Series con un diccionario
fruta_dic = pd.Series({"a": "manzana", "b": "banana", "c": "cereza", "d": "d치til", "e": "uva"}) # <--- Creaci칩n de un Pandas Series
print(fruta_dic) # <--- Imprime el Pandas Series

a    manzana
b     banana
c     cereza
d      d치til
e        uva
dtype: object

In [111]:
# Llamar a un elemento del Pandas Series a trav칠s de su 칤ndice
print("Llamada a trav칠s de 칤ndice, caso m치s com칰n: " + fruta.iloc[0]) # <--- Imprime el valor asociado al 칤ndice 0 del Pandas Series creado a partir
                                                                      # de una lista


print("\n\nLlamada a trav칠s de 칤ndice, caso particular: " + fruta_dic["a"]) # <--- Imprime el valor asociado al 칤ndice "a" del Pandas Series
                                                                            # creado a partir de un diccionario

Llamada a trav칠s de 칤ndice, caso m치s com칰n: manzana


Llamada a trav칠s de 칤ndice, caso particular: manzana

In [112]:
#--- Atributo size ---#
print(fruta.size) # <--- Imprime el n칰mero de elementos del Pandas Series

5

In [113]:
#--- Atributo index ---#
print("Indice caso com칰n: ", fruta.index) # <--- Imprime los 칤ndices del Pandas Series


print("\n\nIndice caso particular:", fruta_dic.index) # <--- Imprime los 칤ndices del Pandas Series

Indice caso com칰n:  RangeIndex(start=0, stop=5, step=1)


Indice caso particular: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [114]:
#--- Atributo dtype ---#
print("Tipos de datos en fruta: ", fruta.dtype) # <--- Imprime el tipo de datos del Pandas Series

Tipos de datos en fruta:  object

In [115]:
# Creaci칩n de un Pandas Series con solo datos num칠ricos	
numeros = pd.Series([1, 2, 3, 4, 5]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

# Imprimir su tipo de datos
print("Tipos de datos en numeros: ", numeros.dtype) # <--- Imprime el tipo de datos del Pandas Series

Tipos de datos en numeros:  int64

In [116]:
fruta = pd.Series(["manzana", "banana", "cereza", "d치til", "uva"]) # <--- Creaci칩n de un Pandas Series

# Selecci칩n de elementos de un Pandas Series
print(fruta.iloc[0], "\n\n") # <--- Imprime el valor asociado al 칤ndice 0 del Pandas Series

print(fruta.iloc[0:3]) # <--- Imprime los valores asociados a los 칤ndices 0, 1 y 2 del Pandas Series como un rango
# NOTESE QUE EL 칔LTIMO 칈NDICE NO SE INCLUYE

manzana


0    manzana
1     banana
2     cereza
dtype: object

### Operaciones con Series 游늶

In [117]:
# Operaciones de un Pandas Series con escalares
numeros = pd.Series([1, 2, 3, 4, 5]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

# Serie original
print("Serie original: ")
print(numeros)
# Multiplicar todos los elementos del Pandas Series por 2
print("\n\nMultiplicaci칩n por 2:")
print(numeros * 2) # <--- Multiplica todos los elementos del Pandas Series por 2

# Sumar 10 a todos los elementos del Pandas Series
print("\n\nSuma 10:")
print(numeros + 10) # <--- Suma 10 a todos los elementos del Pandas Series

Serie original:
0    1
1    2
2    3
3    4
4    5
dtype: int64


Multiplicaci칩n por 2:
0     2
1     4
2     6
3     8
4    10
dtype: int64


Suma 10:
0    11
1    12
2    13
3    14
4    15
dtype: int64

### Funciones con Series 游늶

In [118]:
# Definir un Pandas Series de numeros
numeros = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9]) # <--- Creaci칩n de un Pandas Series con una lista de n칰meros

In [119]:
# Suma manual de los elementos del Pandas Series
suma = 0
for i in numeros:
    suma += i
print("Suma manual: ", suma) # <--- Imprime la sumatoria de todos los elementos del Pandas Series

# Funcion Sumatoria
print("Sumatoria: ", numeros.sum()) # <--- Imprime la sumatoria de todos los elementos del Pandas Series

Suma manual:  45
Sumatoria:  45

In [120]:
# Maximo y minimo
print("Maximo: ", numeros.max()) # <--- Imprime el valor m치ximo del Pandas Series
print("\n\nMinimo: ", numeros.min()) # <--- Imprime el valor m칤nimo del Pandas Series

Maximo:  9


Minimo:  1

In [121]:
# Funcion describe
print(numeros.describe()) # <--- Imprime un resumen de los estad칤sticos b치sicos del Pandas Series

"""
Donde:
- count: n칰mero de elementos
- mean: media
- std: desviaci칩n est치ndar
- min: valor m칤nimo
- 25%: primer cuartil
- 50%: mediana
- 75%: tercer cuartil
- max: valor m치ximo
"""

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

'\nDonde:\n- count: n칰mero de elementos\n- mean: media\n- std: desviaci칩n est치ndar\n- min: valor m칤nimo\n- 25%: primer cuartil\n- 50%: mediana\n- 75%: tercer cuartil\n- max: valor m치ximo\n'

### Filtrado de datos en una Serie 游늶

In [122]:
# Definimos una serie con 5 materias y su calificaci칩n 
serie = pd.Series({"Matem치ticas": 10, "F칤sica": 5, "Qu칤mica": 8, "Historia": 3, "Programaci칩n": 10})

# Imprimimos la serie
print("Materias y calificaciones:")
print(serie)

# Imprimimos solo las materias con calificaci칩n mayor a 5
print("\n\nMaterias aprobadas:")

aprobadas = serie[serie >= 6]
print(aprobadas)

Materias y calificaciones:
Matem치ticas     10
F칤sica           5
Qu칤mica          8
Historia         3
Programaci칩n    10
dtype: int64


Materias aprobadas:
Matem치ticas     10
Qu칤mica          8
Programaci칩n    10
dtype: int64

In [123]:
# Ordenar de forma ascendente
print("Orden ascendente:")
print(serie.sort_values())

# Ordenar de forma descendente
print("\n\nOrden descendente:")
print(serie.sort_values(ascending=False))

# Ordenar por 칤ndice
print("\n\nOrden por 칤ndice:")
print(serie.sort_index())

Orden ascendente:
Historia         3
F칤sica           5
Qu칤mica          8
Matem치ticas     10
Programaci칩n    10
dtype: int64


Orden descendente:
Matem치ticas     10
Programaci칩n    10
Qu칤mica          8
F칤sica           5
Historia         3
dtype: int64


Orden por 칤ndice:
F칤sica           5
Historia         3
Matem치ticas     10
Programaci칩n    10
Qu칤mica          8
dtype: int64

### Otras formas de crear Series 游늶

In [124]:
# Creaci칩n de un Pandas Series con un solo valor y un 칤ndice personalizado
data = 5 # <--- Asignaci칩n de un valor a una variable

serie = pd.Series(data, index=[0,1,2,3,4,5]) # <--- Creaci칩n de un Pandas Series con un solo valor y un 칤ndice personalizado
print(serie) # <--- Imprime el Pandas Series

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [125]:
# Creaci칩n de un Pandas Series con una lista de valores y un 칤ndice personalizado
data_list = ["manzana", "banana", "cereza", "d치til", "uva"] # <--- Asignaci칩n de una lista de valores a una variable
indices = [0,1,2,3,4] # <--- Asignaci칩n de un rango de 칤ndices a una variable

serie = pd.Series(data=data_list, index=indices) # <--- Creaci칩n de un Pandas Series con una lista de valores y un 칤ndice personalizado
print(serie) # <--- Imprime el Pandas Series

0    manzana
1     banana
2     cereza
3      d치til
4        uva
dtype: object

## Pandas Dataframe 游늵

Los dataframes en Pandas son como tablas en las que puedes organizar y manipular datos de manera eficiente. Imagina una hoja de c치lculo o una tabla en una base de datos. Se utilizan para limpiar, explorar, modelar y visualizar datos. Son esenciales para trabajar con grandes conjuntos de datos. Otra forma de ver un dataframe es como una uni칩n de varias Series.

El Dataframe toma en cuenta dos dimensiones las cuales son las columnas y las filas.

### Creaci칩n de un Dataframe 游늵

In [126]:
# Partes de un Pandas DataFrame

# Columns = Columnas
# Index = 칈ndices
# Data = Datos

# Creaci칩n de un Pandas DataFrame a partir de un diccionario
data = {"Nombre": ["Juan", "Ana", "Luis", "Mar칤a", "Pedro"],
        "Edad": [25, 30, 35, 40, 45]} # <--- Creaci칩n de un diccionario

df = pd.DataFrame(data) # <--- Creaci칩n de un Pandas DataFrame


print(df) # <--- Imprime el Pandas DataFrame

  Nombre  Edad
0   Juan    25
1    Ana    30
2   Luis    35
3  Mar칤a    40
4  Pedro    45

In [127]:
# Creaci칩n de un Pandas DataFrame a partir de una lista de listas
data = [["Juan", 25],
        ["Ana", 30],
        ["Luis", 35],
        ["Mar칤a", 40],
        ["Pedro", 45]] # <--- Creaci칩n de una lista de listas

df = pd.DataFrame(data, columns=["Nombre", "Edad"]) # <--- Creaci칩n de un Pandas DataFrame

print(df) # <--- Imprime el Pandas DataFrame

  Nombre  Edad
0   Juan    25
1    Ana    30
2   Luis    35
3  Mar칤a    40
4  Pedro    45

In [128]:
# Creaci칩n de un Pandas DataFrame a partir de un numpy array
data = np.array([["Juan", 25],
                 ["Ana", 30],
                 ["Luis", 35],
                 ["Mar칤a", 40],
                 ["Pedro", 45]]) # <--- Creaci칩n de un numpy array


df = pd.DataFrame(data, columns=["Nombre", "Edad"]) # <--- Creaci칩n de un Pandas DataFrame

print(df) # <--- Imprime el Pandas DataFrame

# Dataframe con valores aleatorios de numpy
data = np.random.randn(5, 4) # <--- Creaci칩n de un numpy array con valores aleatorios de dimensiones 5x4
df = pd.DataFrame(data, columns=["A", "B", "C", "D"]) # <--- Creaci칩n de un Pandas DataFrame

print("\n\nDataframe con valores aleatorios de numpy:")
print(df) # <--- Imprime el Pandas DataFrame

  Nombre Edad
0   Juan   25
1    Ana   30
2   Luis   35
3  Mar칤a   40
4  Pedro   45


Dataframe con valores aleatorios de numpy:
          A         B         C         D
0  1.206304 -1.350783  0.477069 -2.084795
1 -0.622276  0.955462  0.765993  1.047893
2  0.783739  0.138849  0.178830 -2.478025
3 -1.072514 -0.757756  2.446926  1.572924
4 -1.459153 -0.328600  0.593999  0.287733

### Extracci칩n de Informaci칩n de Excel / CSV (Datasets) 游늵

Dataset: Un dataset es una colecci칩n organizada de datos que puede venir en varios formatos, como archivos de texto, hojas de c치lculo, bases de datos, etc. Un dataframe, en cambio, es una estructura de datos espec칤fica utilizada en lenguajes de programaci칩n como R y Python (con pandas), que organiza los datos en una tabla con filas y columnas, facilitando su manipulaci칩n y an치lisis.

In [129]:
# Leer un archivo CSV
df = pd.read_csv("dataset.csv") # <--- Lectura de un archivo CSV

df # <--- Imprime el Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

In [130]:
# Leer un archivo Excel
df = pd.read_excel("dataset.xlsx") # <--- Lectura de un archivo Excel

df # <--- Imprime el Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,F,71,2,1,1,2,2,1,1,1,1,2,1,1,2,NO
2996,F,75,1,2,1,1,1,2,2,2,2,1,1,2,1,NO
2997,F,62,2,2,2,1,2,2,2,2,1,1,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES
2999,M,40,1,2,2,1,1,1,2,2,2,1,1,1,1,YES

### Filtrando con Dataframes 游늵

In [134]:
# Buscar un valor espec칤fico en un Pandas DataFrame, en este ejemplo se busca el valor en la fila 2 y columna AGE
print(df.loc[2, "AGE"]) # <--- Imprime el valor en la fila 2 y columna AGE del Pandas DataFrame

78

In [138]:
# Condiciones en un Pandas DataFrame
filtro = df["AGE"] < 40 # <--- Condiciones en un Pandas DataFrame

filtro

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998     True
2999    False
Name: AGE, Length: 3000, dtype: bool

In [139]:
# Buscar aquellos valores que cumplan con una condici칩n espec칤fica, en este ejemplo se buscan aquellos valores en la columna AGE que sean menores a 40
df[filtro] # <--- Imprime los valores en la columna AGE que sean mayores a 40 del Pandas DataFrame

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
10,F,35,1,1,1,1,2,1,1,2,1,2,2,2,2,NO
15,F,39,2,2,1,1,1,2,2,2,1,2,2,2,1,NO
23,M,33,1,1,2,2,2,2,1,1,1,2,2,2,2,NO
26,M,36,2,1,1,2,2,2,1,1,2,1,1,1,2,YES
27,M,37,2,2,1,2,1,2,1,2,1,1,2,2,2,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2967,F,32,2,1,1,1,1,2,2,2,1,2,2,2,2,NO
2968,M,33,2,2,1,2,2,1,1,2,2,1,2,2,2,YES
2979,F,33,2,1,1,2,1,1,2,2,1,2,2,1,2,YES
2983,F,30,1,1,2,2,2,1,1,1,2,2,2,2,2,YES
2998,M,30,1,1,2,2,2,2,2,2,2,1,2,1,2,YES